@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.searchedList {
  @include flexbox.flexbox(center, center);
}
form {
  @include flexbox.flexbox(between, center);
  display: flex;
  border: 2px rebeccapurple solid;
  width: 700px;
  height: 60px;
  overflow: hidden;
  .input {
    width: 100%;
    padding-left: 10px;
    font-size: 16;
    color: inherit;
    border-radius: 10px;
    color: colors.$BLACK;
  }
  input::placeholder {
    color: colors.$GRAYE;
  }
  .submitBtn {
    width: 100px;
    height: 30px;
    border: 2px royalblue solid;
    margin: 10px;
  }
}
