@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.searchedList {
  @include flexbox.flexbox(center, center);
}
form {
  @include flexbox.flexbox(between, center);
  display: flex;
  width: 700px;
  height: 60px;
  overflow: hidden;
  background: colors.$WHITE;
  border-radius: 50px;
  .input {
    width: 100%;
    padding-left: 10px;
    font-size: 16;
    color: inherit;
    border-radius: 10px;
    color: colors.$BLACK;
  }
  input::placeholder {
    color: colors.$GRAYE;
  }
  .submitBtn {
    background-color: colors.$BLUE;
    color: colors.$WHITE;
    height: 100%;
    width: 15%;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -0.018em;
    line-height: 1.6;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 18px;
    padding-bottom: 18px;
    cursor: pointer;
    &:focus,
    &:focus-visible {
      outline: 2px solid blue;
    }
  }
}
